/*-----Typography-----*/
/* SANS SERIF/SERIF */
/* Merriweather Sans & Merriweather */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');
/* Montserrat & Domine */
@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat');

/* SERIF/SANS SERIF */
/* Roboto Slab & Open Sans */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');

/* Roboto Slab & Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

/* Lora & Muli */
@import url('https://fonts.googleapis.com/css?family=Lora|Muli');

/* SANS SERIF/SANS SERIF */
/* Montserrat & Lato */
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,700');

/* Open Sans & Open Sans Condensed */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,300i,700');

/*-----Color Palette-----*/
/*-----CSS Variables----*/
/*--Basic color scheme--*/
:root {
  --dark-primary-color: #3b5998;
  --default-primary-color: #3b5998;
  --light-primary-color: #C5CAE9;
  --text-primary-color: #f2f2f2;
  --accent-color: #3b5998;
  --primary-bg-color: #f4f4f4;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: var(--dark-primary-color);
  --overlay-bg-color: #31302e;
  --overlay-text-color: #ccc;
  --container-bg-color: #E9ECEF;
  --background-image: url(images/bg_code.jpg); 
}

.dark-primary-color    { background: var(--dark-primary-color); }
.dark-primary-color-neg    { color: var(--dark-primary-color); }
.default-primary-color { background: var(--default-primary-color); }
.light-primary-color   { background: var(--light-primary-color); }
.light-primary-color-neg   { color: var(--light-primary-color); }
.text-primary-color    { color: var(--text-primary-color); }
.accent-color          { background: var(--accent-color); }
.accent-text-color     { color: var(--accent-color); }
.primary-bg-color      { color: var(primary-bg-color); }
.primary-text-color    { color: (--primary-text-color); }
.secondary-text-color  { color: var(--secondary-text-color); }
.divider-color         { border-color: var(--divider-color); }
.overlay-bg-color      { background: var(--overlay-bg-color); }
.overlay-text-color    { color: var(--overlay-text-color); }

/*-----Global-----*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.5;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Lato, Helvetica, Sans-Serif;
  background-color: var(--primary-bg-color);
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: Montserrat, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin-top: 30px;
}
li {
  font-size: 16px;
  margin-bottom: 20px;
}

.emphasize-text {
  font-weight: bold;
}

.contact-btn {
  cursor: pointer;
}

span.contact-btn {
  color: var(--text-primary-color);
  background-color: var(--default-primary-color);
  padding: 0.15rem 0.25rem;
}

/*-----nav-----*/
nav {
  background-color: var(--dark-primary-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
  overflow: hidden;
  position: fixed;
  top: 0; 
  text-transform: uppercase;
  padding: 0 2rem;
}

nav * {
  display: block;
  color: var(--text-primary-color);
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.15em;
  
}

nav a {
  text-decoration: none;
}


nav ul {
  margin: 0;
  list-style: none;
}

.navbar-nav a {
  padding: 0.25rem 0.68rem;
  border-radius: 0.3125rem;
}

.navbar-nav a:hover, .navbar-nav a:active,
.nav-link.active {
  background-color: var(--text-primary-color);
  color: var(--dark-primary-color);
}

.brand {
  font-weight: bold;
  text-transform: uppercase;
}

#logo {
  width: 50vw;
}

#logo a {
  font-size: 1.5rem;
  letter-spacing: 0.068em;
  padding: 1.15rem 0 0 1rem;
  text-align: left;
}

.navbar-nav {
  text-align: right;
  display: flex;
  padding: 1.5rem 0 0 0;
}

#menu-small {
  display: none;
  color: var(--text-primary-color);
  font-size: 1.625rem;
  padding: .8rem;
  
}

.side-nav {
  
  background-color: var(--overlay-bg-color);
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 1.5rem;
  transition: 0.5s
}

.side-nav * {
  color: var(--text-primary-color);
}

.side-nav .form-header {
  width: 90%;
  grid-template-columns: 1fr 0.4rem;
  grid-column-gap: 0.35rem;
  padding: 0 0 1rem 0;
}

.form-header #close-slide {
  font-size: 1.5rem;
}

.side-nav a {
  text-align: left;
  font-size: 1.15rem;
  padding: .625rem .625rem .625rem 1.875rem;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover, .side-nav.nav-link.active {
  background-color: var(--overlay-text-color);
  color: var(--overlay-bg-color);
}



/*-----contact form------*/
#contact {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  color: var(--overlay-text-color);
  background-color: var(--overlay-bg-color);
  overflow-x: hidden;
  transition: 0.5s
}

#contact #close-form {
  cursor: pointer;
  font-size: 1.25rem;
}

#contact ul {
  list-style: none;
  padding: 0;
}

/*-----form style------*/
#contact-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
  grid-gap: 1rem;
  padding: 1rem ;
}

.form-header {
  width: 80%;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  padding: 1rem;
  text-transform: uppercase;

}

#contact-me label {
  display: block;
}

#contact-me .cta-text {
  grid-column: 1 / 3;
}

#contact-me .full {
  grid-column: 1 / 3;
}

#contact-me input, #contact-me textarea, #contact-me button {
  width: 70%;
  /* padding: 1em; */
  border: 1px solid var(--accent-color);
}

#contact-me button {
  background: var(--accent-color);
  color: var(--text-primary-color);
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

#contact-me button:hover, #contact-me button:focus {
  background-color: var(--text-primary-color);
  font-weight: bold;
  color: var(--dark-primary-color);
  outline: 0;
  transition: background-color 1s ease-out;
}

.alert {
  text-align: center;
  padding: 10px;
  background: var(--accent-color);
  color: var(--text-primary-color);
  margin-bottom: 10px;
  display: none;
}

/*---- Design Menu ----*/
#design-options {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  height: 0; 
  width: 60vw;
  position: fixed;
  z-index: 10;
  top: 0;
  color: var(--overlay-text-color);
  background-color: var(--overlay-bg-color);
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  margin: 0 35vw; 
  
}

#close-font-menu {
  height: 0.2vh;
  padding: 0;
  grid-column: span 2;
  cursor: pointer;
  font-size: 2rem;
}

#design-options .form-header {
  width: 100%;
  grid-column: span 2;
  grid-template-columns: 4rem 1fr;
}

#design-options .color-menu .form-header {
  grid-template-columns: 1fr 1fr;
  padding: 0;
  text-transform: capitalize;
}

#change-opacity {
  cursor: pointer;
}

.design-category {
  font-size: 1rem;
  font-weight: bold;
}

#design-options li {
  font-size: 1rem;
}

#design-options li:hover,
.option-link.active, 
.font-link.active,
.color-link.active {
  cursor: pointer;
  background-color: var(--overlay-text-color);
  color: var(--overlay-bg-color);
}

/*----home----*/
#home {
  width: 100vw;
  overflow: hidden; 
  color: var(--text-primary-color);
  background-image: var(--background-image);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 5rem;
}

#intro {
  margin: 2rem 0;
  text-align: center;
}

#intro h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

#tagline {
  font-size: 1.5rem;
}

#home .cta-group {
  margin-top: 2rem;
  align-self: center;
  text-align: center;
}

#home .cta-btn {
  width: 28vw;
  font-size: 1.15rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-primary-color);
  background-color: rgba(0, 0, 0, 0);
  border: 0.5px solid var(--text-primary-color);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

#home a:hover, #home button:hover{
  background-color: var(--text-primary-color);
  color: var(--dark-primary-color);
}

#home .social-media-icons {
  margin: 0 auto;
  width: 20vw;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.25rem;
}

#home .social-media-icons a {
  color: var(--text-primary-color);
  background: rgba(0, 0, 0, 0);
}


/*---main content---*/
#main {
  max-width: 991px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  transition: margin-left 0.5s;
}

section {
  margin: 2rem auto;
}

section .container {
  background: var(--container-bg-color);
  margin: 0 auto;
  padding: 0;
}

.section-intro {
  max-width: 991px;
  padding: 0 2.775vw;
  text-align: left;
  margin: 0 auto;
  /* border: 2px solid purple; */
}

h2.section-title {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  max-width: 991px;
  color: var(--dark-primary-color);
  padding-top: 5rem;
  padding-bottom: 1rem;

  /*----Alternate style----*/
  /* color: var(--text-primary-color);
  background: var(--dark-primary-color);
  padding: 1rem; */
  
}

h3.section-subtitle {
  color: var(--secondary-text-color);
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #BDBDBD;
}

/*----about me----*/
#about .about-text {
  padding-left: 2.775vw;
  padding-right: 2.775vw;
}

.about-img {
  width: 180px;
  height: auto;
  float: left;
  margin-right: 1rem;
  padding: 0.5rem;
}

.about-img img {
  width: 100%;
  object-fit: contain;
}


/*-----services-----*/
.svcs-wrapper {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.svcs-category {
  /* grid-column: span 1; */
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid black;
}

.svcs-title {
  padding: 0.5rem;
  height: 2rem;
  text-align: center;
  line-height: 1rem;
  border-bottom: 1px solid black;
}

.svcs-content {
  padding: 0.5rem;
}


/*-----projects-----*/
#projects {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

p.section-intro {
  text-align: left;
}

 .project-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
    grid-row-gap: 1em;
    margin: 2rem 0;
    padding-right: 2.775vw;
    padding-left: 2.775vw;
  }

.card {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background: var(--primary-bg-color);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
  0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.card p {
  padding: 1.5rem 3rem 0 3rem;
}

.card ul {
  padding: 0 4.5rem;
  list-style: initial;
}

.card-title {
  padding-top: 1.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.card-close {
  text-align: right;
}

.card-img {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.card-img img {
  width: 250px;
  object-fit: contain;
}

.card-caption {
  padding-bottom: 1em;
}

.card-summary-btn {
  cursor: pointer;
}

.card-close-btn {
  cursor: pointer;
}

.card-detail {
  margin: 0 auto;
  display: none;
  padding: 0;
  
}

.card-detail p, .card-detail ul, .card-detail li {
  text-align: left;
}

.card-action {
  padding: 2.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
}

.card-action i {
  color: black;
  font-size: 26px;
}


/*-----skills-----*/
.skill-category {
  margin: 2rem 0;
  padding: 2rem;
  background: var(--primary-bg-color);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 
  0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.skills-list {
  padding: 0 2.775vw;
}

.list-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  grid-column-gap: 0;
  align-items: center;
  text-align: center;
}



.list-wrapper img.responsive-img {
	margin: 0 auto;
	max-height: 100px;
	padding-bottom: 10px;
	vertical-align: middle;
  display: table-cell;
}


/*-------footer------*/
footer {
  color: var(--text-primary-color);
  background-color: var(--dark-primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

footer a {
  color: var(--text-primary-color);
  text-decoration: none;
  font-size: 1.5rem;
}

footer a:hover, footer button:hover{
  background-color: var(--text-primary-color);
  color: var(--dark-primary-color);
}

footer ul>li {
  list-style: none;
}

footer .cta-group {
  grid-column: span 2;
}

footer .cta-btn {
  justify-self: center;
  width: 30vw;
  font-weight: bold;
  color: var(--text-primary-color);
  background-color: var(--accent-color);
  border: 1px solid var(--text-primary-color);
  border-radius: 4px;
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
}

footer .navbar {
  padding: 1rem;
  text-align: left;
}

footer #logo-footer a {
  font-size: 1.15rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  text-align: left;
}

#footer-menu a {
  padding: 0.5rem;
  font-size: 0.85rem;
}

footer .social-media-group {
  text-align: right;
  font-size: 0.85rem;
  padding: 1rem;
}

footer .social-cta {
  font-size: 0.85rem;
}

footer .social-media-icons {
  padding: 0.5rem;
  letter-spacing: 0.25rem;
}

footer .navbar, footer .social-media-group {
  text-transform: uppercase;
}
footer #copyright-info {
  font-size: 0.8rem;
  grid-column: 1 / span 2;
}

/*------Responsive design------*/
/* LARGE SCREENS */
@media only screen and (min-width: 991px) {
  h2.section-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  header p {
    width: 100%;
  }

}

/* MEDIUM SCREENS */
@media only screen and (min-width: 568px) {
  /*----sections----*/
  h2.section-title {
    font-size: 1.65rem;
  }
}

@media only screen and (max-width: 768px) {
  /*----navigation----*/
  .navbar-nav {display: none;}
  
  #menu-small {display: block;}

  /*----skills----*/
  .list-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 868px) {

    /*----projects----*/
  .project-items {
    grid-template-columns: repeat(2, auto);
  }
}


@media only screen and (min-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.50rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  header {
    width: 96%;
    margin: 30px auto 100px auto;
    text-align: left;
  }

    /*----sections----*/
  h2.section-title {
    font-size: 1.75rem;
  }

}

/* SMALL SCREENS */
@media only screen and (max-width: 568px) {
  h1 {
    font-size: 1.45rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.95rem;
  }

  body {
    font-size: 0.95rem;
  }

  nav {
    padding: 0 0.5rem;
  }

  #logo a {
    font-size: 1rem;
  }

  .navbar-nav {display: none;}
  
  #menu-small {display: block;}

  /*----Contact Form-----*/ 
  #contact-me {
    font-size: 0.8rem;
    grid-template-columns: 1fr;
  }

  #contact-me .cta-text {
    grid-column: 1 / 1;
  }

  #contact-me .full {
    grid-column: 1 / 1;
  }

  /*----Design Menu---*/ 
  #design-options {
    width: 80vw;
    margin: 0 15vw; 
  }

  #design-options li {
    font-size: 0.75rem;
  }

  /*----home----*/
  #home {
    text-align: left;
    padding: 10rem 1rem;
  }
  #intro {
    margin-top: 2rem;
  }

  #intro h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  #tagline {
    padding-top: 1.5rem;
    font-size: 0.85rem;
  }

  #home .cta-btn,
  #home .social-media-icons {
    width: 50vw;
  }

  /*----sections----*/
  h2.section-title {
    font-size: 1.5rem;
  }

  /*----about me----*/
  .about-img {
    float: none;
    width: 135px;
    margin: 0 auto;
    
  }

  .about-img img {
    border-radius: 50%;
  }

  /*----services----*/
  .svcs-wrapper {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .svcs-category {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
  }

  .svcs-title {
    padding: 0.5rem;
    height: 2rem;
    text-align: center;
    line-height: 1rem;
    border-bottom: 1px solid black;
  }

  .svcs-content {
    padding: 0.5rem;
  }

  /*----projects----*/
  .project-items {
    grid-template-columns: 1fr;
  }

  .card, .card ul {
    font-size: 0.9rem;
  }

  /*----skills----*/
  .list-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  /*---footer----*/
  footer {
    margin-top: 0;
    font-size: 0.75rem;
    grid-template-columns: 1fr;
  }

  footer .cta-btn {
    width: 40vw;  
    font-size: 0.75rem;  
    padding: 0.25rem 0.5rem;
  }

  footer .navbar {
    display: none;
  }

  footer .social-media-group {
    padding: 0;
  }

  footer .social-media-icons {
    padding: 0;
    text-align: center;
    letter-spacing: 0.5rem;
  }

  footer .social-cta {
    display: none;
  }

}

@media only screen and  (max-width: 400px) {
  /*----sections----*/
  h2.section-title {
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 368px) {
  /*----sections----*/
  h2.section-title {
    font-size: 1.25rem;
  }
}